<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.smartcampuslab.ifame"
    android:sharedUserId="it.smartcampuslab.launcher"
    android:sharedUserLabel="@string/app_uid_label"
    android:versionCode="10"
    android:versionName="0.12.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher_ifame48x48"
        android:logo="@drawable/ifame_logo"        
        android:label="@string/iFame_main_title_activity"
        android:theme="@style/Theme.Ifamestyle" >
        <meta-data
            android:name="eu.trentorise.smartcampus.account.AUTH_URL"
            android:value="https://ac.smartcampuslab.it/aac" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_TYPE"
            android:value="eu.trentorise.smartcampus.account" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_NAME"
            android:value="SmartCampus" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_LABEL"
            android:value="SmartCampus" />
        <meta-data
            android:name="eu.trentorise.smartcampus.account.ACCOUNT_BASED_ACCESS"
            android:value="true" />

        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.IFameMain"
            android:configChanges="orientation|screenSize"
            android:label="@string/iFame_main_title_activity"
                android:logo="@drawable/ifame_logo"   
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.START" />
                 <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER" /> 
            </intent-filter>
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask" >
            <intent-filter>
                <data android:scheme="db-yerhpkuav29wxou" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.trentorise.smartcampus.ac.embedded.EmbeddedAuthActivity" />

        <service
            android:name="eu.trentorise.smartcampus.ac.authenticator.AuthenticationService"
            android:exported="true"
            android:permission="eu.trentorise.smartcampus.ac.AUTHENTICATE" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="eu.trentorise.smartcampus.ac.authenticator.AuthenticatorActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.MensaPreferita"
            android:configChanges="screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iFretta_title_activity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.IDeciso"
            android:configChanges="orientation|screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iDeciso_title_activity" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.IGradito"
            android:configChanges="orientation|screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iGradito_title_activity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.ISoldi"
            android:configChanges="orientation|screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iSoldi_title_activity" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.ComponiMenu"
            android:configChanges="orientation|screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iDeciso_home_compose_menu" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.MenuDelMeseActivity"
            android:configChanges="orientation|screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iDeciso_home_monthly_menu" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.IFretta"
            android:configChanges="screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iFretta_details_title_activity" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.MenuDelGiornoActivity"
            android:configChanges="orientation|screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iDeciso_home_daily_menu" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.IGraditoVisualizzaRecensioni"
            android:configChanges="orientation|screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iGradito_recensioni_title_activity" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ifame.activity.TipologieMenu"
            android:configChanges="orientation|screenSize"
                android:logo="@drawable/ifame_logo"   
            android:label="@string/iDeciso_home_menu_types" >
        </activity>
        <activity
            android:name="com.github.espiandev.showcaseview.TourActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/TutorialTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>